Repository phoenixvc/cognitive-mesh: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, FoundationLayer, ReasoningLayer, MetacognitiveLayer, AgencyLayer, BusinessApplications

Phase 17: Advanced features, comprehensive test suite, full-stack validation
  src/UILayer/web/src/__tests__/e2e/auth-flow.test.tsx
  src/UILayer/web/src/__tests__/e2e/dashboard-flow.test.tsx
  src/UILayer/web/src/__tests__/e2e/settings-flow.test.tsx
  src/UILayer/web/src/__tests__/performance/bundle-size.test.ts
  src/UILayer/web/src/__tests__/performance/render-perf.test.tsx
  src/UILayer/web/src/__tests__/visual/__snapshots__/visual-regression.test.tsx.snap
  src/UILayer/web/src/__tests__/visual/visual-regression.test.tsx
  src/UILayer/web/src/app/(app)/compliance/page.tsx
  src/UILayer/web/src/app/(app)/impact/page.tsx
  src/UILayer/web/src/app/(app)/layout.tsx
  src/UILayer/web/src/components/Navigation/TopBar.tsx
  src/UILayer/web/src/components/shared/ActivityFeed.tsx
  src/UILayer/web/src/components/shared/CommandPalette.tsx
  src/UILayer/web/src/components/shared/ExportMenu.tsx
  src/UILayer/web/src/components/shared/PresenceIndicator.tsx
Due: unittests

feat(pho-5): add PolicyStore and SelfHealing projects
  src/AgencyLayer/AgencyLayer.csproj
  src/AgencyLayer/SelfHealing/Engines/RemediationPolicyDecisionEngine.cs
  src/AgencyLayer/SelfHealing/Extensions/SelfHealingServiceExtensions.cs
  src/AgencyLayer/SelfHealing/Ports/IRemediationDecisionPort.cs
  src/AgencyLayer/SelfHealing/SelfHealing.csproj
  src/FoundationLayer/FoundationLayer.csproj
  src/FoundationLayer/PolicyStore/Adapters/CosmosDbRemediationPolicyAdapter.cs
  src/FoundationLayer/PolicyStore/Extensions/PolicyStoreServiceExtensions.cs
  src/FoundationLayer/PolicyStore/Models/PolicyAuditEntry.cs
  src/FoundationLayer/PolicyStore/Models/RemediationAction.cs
  src/FoundationLayer/PolicyStore/Models/RemediationPolicy.cs
  src/FoundationLayer/PolicyStore/Options/PolicyStoreOptions.cs
  src/FoundationLayer/PolicyStore/PolicyStore.csproj
  src/FoundationLayer/PolicyStore/Ports/IRemediationPolicyPort.cs
  src/FoundationLayer/PolicyStore/Seed/DefaultPolicySeed.cs
  src/FoundationLayer/PolicyStore/Seed/PolicyStoreInitializer.cs
Due: unittests, FoundationLayer, AgencyLayer

test(pho-5): add unit tests for PolicyStore and SelfHealing
  CognitiveMesh.sln
  tests/AgencyLayer/SelfHealing/RemediationPolicyDecisionEngineTests.cs
  tests/AgencyLayer/SelfHealing/SelfHealing.Tests.csproj
  tests/FoundationLayer/PolicyStore/PolicyStore.Tests.csproj
  tests/FoundationLayer/PolicyStore/RemediationPolicyAdapterTests.cs
Due: none

chore(ci): reduce CodeQL to weekly schedule + manual trigger
  .github/workflows/codeql.yml
Due: none

chore(ci): reduce CodeQL to weekly schedule + manual trigger (#384)
  .github/workflows/codeql.yml
Due: none

fix(ci): quote upload value for explicit string type
  .github/workflows/codeql.yml
Due: none

chore(mcp): add kernel.sh cloud browser MCP server
  .mcp.json
Due: none

feat(agency): add CIA 2.0 computation engine (ICognitiveAssessmentPort)
  src/AgencyLayer/CognitiveSovereignty/Engines/CognitiveAssessmentEngine.cs
  src/AgencyLayer/CognitiveSovereignty/Models/CiaAssessmentRequest.cs
  src/AgencyLayer/CognitiveSovereignty/Models/CiaAssessmentResult.cs
  src/AgencyLayer/CognitiveSovereignty/Ports/ICognitiveAssessmentPort.cs
  src/BusinessApplications/CognitiveMesh/Infrastructure/ServiceCollectionExtensions.cs
Due: unittests, AgencyLayer, BusinessApplications

feat(agency): add POST /cognitive/agency/route/computed endpoint
  src/BusinessApplications/CognitiveMesh/Controllers/CognitiveMeshController.cs
Due: unittests, BusinessApplications

Potential fix for code scanning alert no. 545: Unused variable, import, function or class
  src/UILayer/web/src/components/Nexus/index.tsx
Due: unittests

Potential fix for code scanning alert no. 545: Unused variable, import, function or class (#392)
  src/UILayer/web/src/components/Nexus/index.tsx
Due: unittests

chore(mcp): add kernel.sh cloud browser MCP server (#388)
  .mcp.json
  src/AgencyLayer/CognitiveSovereignty/Engines/CognitiveAssessmentEngine.cs
  src/AgencyLayer/CognitiveSovereignty/Models/CiaAssessmentRequest.cs
  src/AgencyLayer/CognitiveSovereignty/Models/CiaAssessmentResult.cs
  src/AgencyLayer/CognitiveSovereignty/Ports/ICognitiveAssessmentPort.cs
  src/BusinessApplications/CognitiveMesh/Controllers/CognitiveMeshController.cs
  src/BusinessApplications/CognitiveMesh/Infrastructure/ServiceCollectionExtensions.cs
Due: unittests, AgencyLayer, BusinessApplications

ci: Add workflow to create GitHub issues from PR #361 review comments (#394)
  .github/pr-361-review-issues.json
  .github/workflows/create-pr-review-issues.yml
Due: none

fix: bump Microsoft.Extensions.* and EF Core packages from 10.0.4 to 10.0.5 (#418)
  Directory.Packages.props
Due: none

update badges
  README.md
Due: none

update badges (#420)
  README.md
Due: none

Deploy API documentation c85cc61552b1981143996e5c807ad7ca4af001ef
  .nojekyll
Due: none

feat: Policy Store DB for Self-Healing Remediation Policies (PHO-5) (#377)
  CognitiveMesh.sln
  src/AgencyLayer/AgencyLayer.csproj
  src/AgencyLayer/SelfHealing/Engines/RemediationPolicyDecisionEngine.cs
  src/AgencyLayer/SelfHealing/Extensions/SelfHealingServiceExtensions.cs
  src/AgencyLayer/SelfHealing/Ports/IRemediationDecisionPort.cs
  src/AgencyLayer/SelfHealing/SelfHealing.csproj
  src/FoundationLayer/FoundationLayer.csproj
  src/FoundationLayer/PolicyStore/Adapters/CosmosDbRemediationPolicyAdapter.cs
  src/FoundationLayer/PolicyStore/Extensions/PolicyStoreServiceExtensions.cs
  src/FoundationLayer/PolicyStore/Models/PolicyAuditEntry.cs
  src/FoundationLayer/PolicyStore/Models/RemediationAction.cs
  src/FoundationLayer/PolicyStore/Models/RemediationPolicy.cs
  src/FoundationLayer/PolicyStore/Options/PolicyStoreOptions.cs
  src/FoundationLayer/PolicyStore/PolicyStore.csproj
  src/FoundationLayer/PolicyStore/Ports/IRemediationPolicyPort.cs
  src/FoundationLayer/PolicyStore/Seed/DefaultPolicySeed.cs
  src/FoundationLayer/PolicyStore/Seed/PolicyStoreInitializer.cs
  tests/AgencyLayer/SelfHealing/RemediationPolicyDecisionEngineTests.cs
  tests/AgencyLayer/SelfHealing/SelfHealing.Tests.csproj
  tests/FoundationLayer/PolicyStore/PolicyStore.Tests.csproj
  tests/FoundationLayer/PolicyStore/RemediationPolicyAdapterTests.cs
Due: unittests, FoundationLayer, AgencyLayer

Revise README for improved clarity and structure
  README.md
Due: none

chore: add Version 0.0.1 to Directory.Build.props
  Directory.Build.props
Due: none

fix(docs): correct stale ecosystem names and fix formatting
  README.md
Due: none

fix(docs): correct stale ecosystem names and fix README formatting (#423)
  Directory.Build.props
  README.md
Due: none

Chore/codeql weekly only (#424)
  .github/workflows/codeql.yml
Due: none

feat: docs, workflows, general improvements (#425)
  .github/workflows/codeql.yml
  CognitiveMesh.sln
  README.md
  src/AgencyLayer/AgencyLayer.csproj
  src/AgencyLayer/SelfHealing/Engines/RemediationPolicyDecisionEngine.cs
  src/AgencyLayer/SelfHealing/Extensions/SelfHealingServiceExtensions.cs
  src/AgencyLayer/SelfHealing/Ports/IRemediationDecisionPort.cs
  src/AgencyLayer/SelfHealing/SelfHealing.csproj
  src/FoundationLayer/FoundationLayer.csproj
  src/FoundationLayer/PolicyStore/Adapters/CosmosDbRemediationPolicyAdapter.cs
  src/FoundationLayer/PolicyStore/Extensions/PolicyStoreServiceExtensions.cs
  src/FoundationLayer/PolicyStore/Models/PolicyAuditEntry.cs
  src/FoundationLayer/PolicyStore/Models/RemediationAction.cs
  src/FoundationLayer/PolicyStore/Models/RemediationPolicy.cs
  src/FoundationLayer/PolicyStore/Options/PolicyStoreOptions.cs
  src/FoundationLayer/PolicyStore/PolicyStore.csproj
  src/FoundationLayer/PolicyStore/Ports/IRemediationPolicyPort.cs
  src/FoundationLayer/PolicyStore/Seed/DefaultPolicySeed.cs
  src/FoundationLayer/PolicyStore/Seed/PolicyStoreInitializer.cs
  tests/AgencyLayer/SelfHealing/RemediationPolicyDecisionEngineTests.cs
  tests/AgencyLayer/SelfHealing/SelfHealing.Tests.csproj
  tests/FoundationLayer/PolicyStore/PolicyStore.Tests.csproj
  tests/FoundationLayer/PolicyStore/RemediationPolicyAdapterTests.cs
Due: unittests, FoundationLayer, AgencyLayer

docs: note neuralliquid.ai rebrand in ecosystem section
  README.md
Due: none

docs(orchestration-eval): compare PhoenixVC stack vs coding-agent harnesses
  docs/orchestration-evaluation/09-custom-vs-established/phoenixvc-stack-vs-coding-agent-harnesses.md
Due: none

docs(orchestration-eval): add retort-plugins and Cognitive Mesh UILayer
  docs/orchestration-evaluation/09-custom-vs-established/phoenixvc-stack-vs-coding-agent-harnesses.md
Due: none

docs(orchestration-eval): expand to full 13-repo phoenixvc ecosystem + peer corrections
  docs/orchestration-evaluation/09-custom-vs-established/phoenixvc-stack-vs-coding-agent-harnesses.md
Due: none

docs: emphasize baton task coordination
  CLAUDE.md
Due: none

Update vulnerable OpenTelemetry packages
  Directory.Packages.props
Due: none

fix: align OpenTelemetry package versions
  Directory.Packages.props
Due: none

docs: add Baton task coordination guidance (#481)
  CLAUDE.md
  Directory.Packages.props
Due: none

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  FoundationLayer: any of: src/FoundationLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  ReasoningLayer: any of: src/ReasoningLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  MetacognitiveLayer: any of: src/MetacognitiveLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  AgencyLayer: any of: src/AgencyLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  BusinessApplications: any of: src/BusinessApplications/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
