Repository phoenixvc/cognitive-mesh: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, FoundationLayer, ReasoningLayer, MetacognitiveLayer, AgencyLayer, BusinessApplications

Add ecosystem repo profiles, update integration priorities, and configure MCP servers
  .claude/settings.json
  .mcp.json
  docs/ecosystem-repo-profiles.md
  docs/ecosystem-repos-and-issues.md
Due: none

Add comprehensive MCP server configuration for cognitive-mesh development
  .mcp.json
Due: none

Fix malformed TestProject.csproj — remove stray text fragment
  tests/TestProject/TestProject.csproj
Due: none

Fix namespace resolution for IFeatureFlagManager in DI extensions
  src/FoundationLayer/EnterpriseConnectors/DependencyInjectionExtensions.cs
Due: unittests, FoundationLayer

Add AgentTeamFramework with prompt management, LLM adapter, and test kit
  CognitiveMesh.sln
  Directory.Packages.props
  docs/planning/ADR-002-prompt-management.md
  src/AgencyLayer/AgencyLayer.csproj
  src/AgencyLayer/AgentTeamFramework/Adapters/LLMBackedSpecializedAgentAdapter.cs
  src/AgencyLayer/AgentTeamFramework/Configuration/AgentDefinitionRecord.cs
  src/AgencyLayer/AgentTeamFramework/Engines/AgentTeamEngineBase.cs
  src/AgencyLayer/AgentTeamFramework/Pipeline/AgentPipelineExecutor.cs
  src/AgencyLayer/AgentTeamFramework/Ports/IAgentLLMPort.cs
  src/AgencyLayer/AgentTeamFramework/Ports/IAgentTeamPort.cs
  src/AgencyLayer/AgentTeamFramework/Prompts/IPromptRegistryPort.cs
  src/AgencyLayer/AgentTeamFramework/Prompts/PromptTemplate.cs
  src/AgencyLayer/AgentTeamFramework/Prompts/YamlPromptRegistryAdapter.cs
  src/AgencyLayer/AgentTeamFramework/Serialization/AgentJsonDefaults.cs
  src/AgencyLayer/AgentTeamFramework/Testing/DeterministicAgentPortAdapter.cs
  src/AgencyLayer/AgentTeamFramework/Testing/RecordingAgentPortDecorator.cs
  src/AgencyLayer/RoadmapCrew/Prompts/dependency-mapper.prompt.yaml
  src/AgencyLayer/RoadmapCrew/Prompts/market-scanner.prompt.yaml
  src/AgencyLayer/RoadmapCrew/Prompts/milestone-tracker.prompt.yaml
  src/AgencyLayer/RoadmapCrew/Prompts/priority-ranker.prompt.yaml
  src/AgencyLayer/RoadmapCrew/Prompts/roadmap-synthesizer.prompt.yaml
  src/AgencyLayer/RoadmapCrew/Prompts/vision-keeper.prompt.yaml
  tests/AgencyLayer/AgentTeamFramework/AgentPipelineExecutorTests.cs
  tests/AgencyLayer/AgentTeamFramework/AgentTeamEngineBaseTests.cs
  tests/AgencyLayer/AgentTeamFramework/AgentTeamFramework.Tests.csproj
Due: unittests, AgencyLayer

Upgrade Azure.AI.OpenAI to v2.1.0 stable and add RoadmapCrew agent team
  .claude/settings.json
  Directory.Packages.props
  src/AgencyLayer/RoadmapCrew/Engines/RoadmapCrewEngine.cs
  src/AgencyLayer/RoadmapCrew/Infrastructure/ServiceCollectionExtensions.cs
  src/AgencyLayer/RoadmapCrew/Models/RoadmapCrewModels.cs
  src/AgencyLayer/RoadmapCrew/Ports/IRoadmapCrewPort.cs
  src/AgencyLayer/ToolIntegration/TextGenerationTool.cs
  src/AgencyLayer/ToolIntegration/ToolIntegration.csproj
  src/FoundationLayer/SemanticSearch/EnhancedRAGSystem.cs
  src/FoundationLayer/SemanticSearch/SemanticSearch.csproj
  src/MeshSimRuntime/Program.cs
  src/MetacognitiveLayer/ContinuousLearning/ContinuousLearningComponent.cs
  src/MetacognitiveLayer/ContinuousLearning/LearningManager.cs
  src/MetacognitiveLayer/SelfEvaluation/MetacognitiveOversightComponent.cs
  src/ReasoningLayer/AnalyticalReasoning/AnalysisResultGenerator.cs
  src/ReasoningLayer/AnalyticalReasoning/MultiPerspectiveCognition.cs
  src/ReasoningLayer/DomainSpecificReasoning/DomainSpecificReasoner.cs
  src/ReasoningLayer/EthicalReasoning/EthicalReasoner.cs
  src/ReasoningLayer/LLMReasoning/Implementations/OpenAIClient.cs
  src/ReasoningLayer/SystemsReasoning/SystemsReasoner.cs
  tests/AgencyLayer/RoadmapCrew/RoadmapCrew.Tests.csproj
  tests/AgencyLayer/RoadmapCrew/RoadmapCrewEngineTests.cs
  tests/AgencyLayer/ToolIntegration/TextGenerationToolTests.cs
  tests/AgencyLayer/ToolIntegration/ToolIntegrationTests.csproj
Due: unittests, FoundationLayer, ReasoningLayer, MetacognitiveLayer, AgencyLayer

Add .dockerignore to prevent bloated Docker images
  .dockerignore
Due: none

Fix CodeQL findings in AgentTeamFramework
  src/AgencyLayer/AgentTeamFramework/Adapters/LLMBackedSpecializedAgentAdapter.cs
  src/AgencyLayer/AgentTeamFramework/Engines/AgentTeamEngineBase.cs
  src/AgencyLayer/AgentTeamFramework/Prompts/YamlPromptRegistryAdapter.cs
Due: unittests, AgencyLayer

Revert exception filter to maintain consistent error handling
  src/AgencyLayer/AgentTeamFramework/Adapters/LLMBackedSpecializedAgentAdapter.cs
Due: unittests, AgencyLayer

Clean up AGENT_BACKLOG.md — collapse 70 completed backend items, plan 39 frontend items
  AGENT_BACKLOG.md
Due: none

FE-001: Generate TypeScript API client from OpenAPI specs
  src/UILayer/web/package.json
  src/UILayer/web/src/lib/api/client.ts
  src/UILayer/web/src/lib/api/generated/agentic.d.ts
  src/UILayer/web/src/lib/api/generated/index.ts
  src/UILayer/web/src/lib/api/generated/services.d.ts
Due: unittests

FE-004: Add authentication flow — login page, auth context, route protection
  src/UILayer/web/src/app/forbidden/page.tsx
  src/UILayer/web/src/app/layout.tsx
  src/UILayer/web/src/app/login/page.tsx
  src/UILayer/web/src/components/ProtectedRoute.tsx
  src/UILayer/web/src/contexts/AuthContext.tsx
  src/UILayer/web/src/middleware.ts
Due: unittests

FE-006: Add error handling infrastructure — error boundary, toasts, API interceptors
  src/UILayer/web/src/app/layout.tsx
  src/UILayer/web/src/components/ApiBootstrap.tsx
  src/UILayer/web/src/components/ErrorBoundary/ErrorBoundary.tsx
  src/UILayer/web/src/components/ErrorBoundary/index.ts
  src/UILayer/web/src/components/Toast/Toast.tsx
  src/UILayer/web/src/components/Toast/index.ts
  src/UILayer/web/src/lib/api/interceptors.ts
Due: unittests

FECICD-001: Add frontend build/test/lint job to CI pipeline
  .github/workflows/build.yml
Due: none

Fix CI blockers: commit package-lock.json, fix dependency issues
  .dockerignore
  .gitignore
  src/UILayer/web/package-lock.json
  src/UILayer/web/package.json
Due: unittests

Fix backend PR comments: replace stubs, fix fire-and-forget safety
  src/BusinessApplications/AgentRegistry/Controllers/AgentController.cs
  src/BusinessApplications/AgentRegistry/Services/AgentRegistryService.cs
  src/BusinessApplications/AgentRegistry/Services/AuthorityService.cs
  src/BusinessApplications/DecisionSupport/Models/SituationAnalysisRequest.cs
Due: unittests, BusinessApplications

Fix frontend PR comments: auth flow, SSR safety, memory leaks
  src/UILayer/web/src/app/login/page.tsx
  src/UILayer/web/src/components/ApiBootstrap.tsx
  src/UILayer/web/src/components/ProtectedRoute.tsx
  src/UILayer/web/src/components/Toast/Toast.tsx
  src/UILayer/web/src/contexts/AuthContext.tsx
  src/UILayer/web/src/lib/api/client.ts
  src/UILayer/web/src/lib/api/interceptors.ts
  src/UILayer/web/src/middleware.ts
Due: unittests

Update AGENT_BACKLOG.md: mark Phase 13 complete, add phase gates and DevOps tickets
  AGENT_BACKLOG.md
Due: none

Phase 14a: Renovate automerge for minor/patch + Codex assignment for majors
  AGENT_BACKLOG.md
  renovate.json
Due: none

Consolidate Claude Code settings.json — platform-agnostic permissions
  .claude/settings.json
Due: none

Fix CodeQL findings, assign Claude + Codex to Renovate major PRs
  renovate.json
  src/BusinessApplications/AgentRegistry/Controllers/AgentController.cs
  src/BusinessApplications/AgentRegistry/Services/AgentRegistryService.cs
  src/BusinessApplications/AgentRegistry/Services/AuthorityService.cs
Due: unittests, BusinessApplications

Fix PR review findings: null guards, CancellationToken, CORS safety, naming conventions
  src/ApiHost/Program.cs
  src/BusinessApplications/DecisionSupport/CausalUnderstandingEngine.cs
  src/BusinessApplications/DecisionSupport/DecisionSupportController.cs
  src/BusinessApplications/DecisionSupport/DecisionSupportCoordinator.cs
  src/BusinessApplications/ResearchAnalysis/KnowledgeWorkController.cs
  src/BusinessApplications/ResearchAnalysis/ResearchAnalysisCoordinator.cs
  src/BusinessApplications/ValueGeneration/Adapters/InMemoryValueDiagnosticDataAdapter.cs
  src/BusinessApplications/ValueGeneration/Infrastructure/ServiceCollectionExtensions.cs
  src/UILayer/web/src/app/layout.tsx
  src/UILayer/web/src/components/ExtensionErrorSuppressor.tsx
Due: unittests, BusinessApplications

Fix remaining PR review comments: CancellationToken, null safety, validation, refresh
  .dockerignore
  src/BusinessApplications/AgentRegistry/Controllers/AgentController.cs
  src/BusinessApplications/AgentRegistry/Services/AgentRegistryService.cs
  src/BusinessApplications/AgentRegistry/Services/AuthorityService.cs
  src/UILayer/web/src/contexts/AuthContext.tsx
Due: unittests, BusinessApplications

Phase 14 foundation: Zustand stores, navigation, routing, SignalR, skeletons
  src/UILayer/web/package-lock.json
  src/UILayer/web/package.json
  src/UILayer/web/src/app/(app)/agents/page.tsx
  src/UILayer/web/src/app/(app)/analytics/page.tsx
  src/UILayer/web/src/app/(app)/compliance/page.tsx
  src/UILayer/web/src/app/(app)/dashboard/page.tsx
  src/UILayer/web/src/app/(app)/error.tsx
  src/UILayer/web/src/app/(app)/layout.tsx
  src/UILayer/web/src/app/(app)/loading.tsx
  src/UILayer/web/src/app/(app)/marketplace/page.tsx
  src/UILayer/web/src/app/(app)/settings/page.tsx
  src/UILayer/web/src/components/Navigation/Breadcrumbs.tsx
  src/UILayer/web/src/components/Navigation/ConnectionIndicator.tsx
  src/UILayer/web/src/components/Navigation/MobileMenu.tsx
  src/UILayer/web/src/components/Navigation/Sidebar.tsx
  src/UILayer/web/src/components/Navigation/TopBar.tsx
  src/UILayer/web/src/components/Navigation/index.ts
  src/UILayer/web/src/components/Navigation/navItems.ts
  src/UILayer/web/src/components/Skeleton/Skeleton.tsx
  src/UILayer/web/src/components/Skeleton/index.ts
  src/UILayer/web/src/hooks/useSignalR.ts
  src/UILayer/web/src/stores/index.ts
  src/UILayer/web/src/stores/useAgentStore.ts
  src/UILayer/web/src/stores/useAuthStore.ts
  src/UILayer/web/src/stores/useDashboardStore.ts
  src/UILayer/web/src/stores/useNotificationStore.ts
  src/UILayer/web/src/stores/usePreferencesStore.ts
Due: unittests

FE-002: Wire real API, remove DashboardAPI mock
  AGENT_BACKLOG.md
  src/UILayer/web/src/app/page.tsx
  src/UILayer/web/src/hooks/useDashboardData.ts
  src/UILayer/web/src/services/api.ts
Due: unittests

Address PR review findings: security, a11y, error handling, API robustness
  .claude/settings.json
  src/ApiHost/Program.cs
  src/BusinessApplications/AdaptiveBalance/Controllers/AdaptiveBalanceController.cs
  src/BusinessApplications/AgentRegistry/Controllers/AgentController.cs
  src/BusinessApplications/AgentRegistry/Services/AgentRegistryService.cs
  src/BusinessApplications/AgentRegistry/Services/AuthorityService.cs
  src/BusinessApplications/CustomerIntelligence/CustomerServiceController.cs
  src/UILayer/web/src/app/(app)/agents/page.tsx
  src/UILayer/web/src/app/(app)/dashboard/page.tsx
  src/UILayer/web/src/app/(app)/error.tsx
  src/UILayer/web/src/app/(app)/settings/page.tsx
  src/UILayer/web/src/app/layout.tsx
  src/UILayer/web/src/app/login/page.tsx
  src/UILayer/web/src/components/ErrorBoundary/ErrorBoundary.tsx
  src/UILayer/web/src/components/ExtensionErrorSuppressor.tsx
  src/UILayer/web/src/components/Navigation/MobileMenu.tsx
  src/UILayer/web/src/components/Navigation/TopBar.tsx
  src/UILayer/web/src/components/Navigation/navItems.ts
  src/UILayer/web/src/components/ProtectedRoute.tsx
  src/UILayer/web/src/components/Toast/Toast.tsx
  src/UILayer/web/src/contexts/AuthContext.tsx
  src/UILayer/web/src/stores/useAgentStore.ts
  src/UILayer/web/src/stores/useDashboardStore.ts
Due: unittests, BusinessApplications

Fix CI failures: ESLint migration for Next.js 16, CodeQL log-forging alerts
  .github/workflows/codeql.yml
  src/BusinessApplications/AdaptiveBalance/AdaptiveBalance.csproj
  src/BusinessApplications/AdaptiveBalance/Controllers/AdaptiveBalanceController.cs
  src/BusinessApplications/AdaptiveBalance/Services/AdaptiveBalanceService.cs
  src/BusinessApplications/AgentRegistry/Controllers/AgentController.cs
  src/BusinessApplications/AgentRegistry/Services/AgentRegistryService.cs
  src/BusinessApplications/CustomerIntelligence/CustomerIntelligenceManager.cs
  src/BusinessApplications/CustomerIntelligence/CustomerServiceController.cs
  src/BusinessApplications/NISTCompliance/Controllers/NISTComplianceController.cs
  src/BusinessApplications/NISTCompliance/NISTCompliance.csproj
  src/BusinessApplications/NISTCompliance/Services/NISTComplianceService.cs
  src/UILayer/web/.eslintrc.json
  src/UILayer/web/eslint.config.mjs
  src/UILayer/web/package-lock.json
  src/UILayer/web/package.json
  src/UILayer/web/src/app/settings/page.tsx
Due: unittests, BusinessApplications

Make frontend type check non-blocking for pre-existing TS errors
  .github/workflows/build.yml
  src/UILayer/web/tsconfig.json
Due: unittests

Use Replace() in LogSanitizer so CodeQL can trace sanitization
  src/Shared/Utilities/LogSanitizer.cs
Due: unittests

Address PR review findings: security, a11y, race conditions, cleanup
  AGENT_BACKLOG.md
  src/BusinessApplications/AdaptiveBalance/Services/AdaptiveBalanceService.cs
  src/BusinessApplications/AgentRegistry/Controllers/AgentController.cs
  src/BusinessApplications/AgentRegistry/Ports/IAgentRegistryPort.cs
  src/BusinessApplications/AgentRegistry/Services/AgentRegistryService.cs
  src/BusinessApplications/CustomerIntelligence/CustomerIntelligenceManager.cs
  src/BusinessApplications/NISTCompliance/Services/NISTComplianceService.cs
  src/UILayer/web/.gitignore
  src/UILayer/web/coverage/clover.xml
  src/UILayer/web/coverage/coverage-final.json
  src/UILayer/web/coverage/lcov-report/CognitiveMeshButton.tsx.html
  src/UILayer/web/coverage/lcov-report/base.css
  src/UILayer/web/coverage/lcov-report/block-navigation.js
  src/UILayer/web/coverage/lcov-report/favicon.png
  src/UILayer/web/coverage/lcov-report/index.html
  src/UILayer/web/coverage/lcov-report/prettify.css
  src/UILayer/web/coverage/lcov-report/prettify.js
  src/UILayer/web/coverage/lcov-report/sort-arrow-sprite.png
  src/UILayer/web/coverage/lcov-report/sorter.js
  src/UILayer/web/coverage/lcov.info
  src/UILayer/web/src/app/(app)/agents/page.tsx
Due: unittests, BusinessApplications

Fix gh-pages deploy: grant contents write permission to GITHUB_TOKEN
  .github/workflows/api-docs.yml
Due: none

Phase 15 Batch A: Settings, Notification Preferences, User Profile
  src/UILayer/web/src/app/(app)/profile/page.tsx
  src/UILayer/web/src/app/(app)/settings/notifications/page.tsx
  src/UILayer/web/src/app/(app)/settings/page.tsx
  src/UILayer/web/src/components/Navigation/Sidebar.tsx
  src/UILayer/web/src/components/Navigation/navItems.ts
  src/UILayer/web/src/stores/usePreferencesStore.ts
Due: unittests

Address PR review findings: Link, i18n, GDPR persistence, shared toggle
  src/UILayer/web/src/app/(app)/profile/page.tsx
  src/UILayer/web/src/app/(app)/settings/notifications/page.tsx
  src/UILayer/web/src/app/(app)/settings/page.tsx
  src/UILayer/web/src/components/ui/toggle-switch.tsx
  src/UILayer/web/src/stores/usePreferencesStore.ts
Due: unittests

Fix ~40 code quality issues across backend and frontend
  src/BusinessApplications/AgentRegistry/Services/AgentRegistryService.cs
  src/BusinessApplications/AgentRegistry/Services/AuthorityService.cs
  src/BusinessApplications/CustomerIntelligence/CustomerIntelligenceManager.cs
  src/BusinessApplications/NISTCompliance/Services/NISTComplianceService.cs
  src/UILayer/web/MIGRATION.md
  src/UILayer/web/package.json
  src/UILayer/web/src/app/(app)/profile/page.tsx
  src/UILayer/web/src/app/(app)/settings/notifications/page.tsx
  src/UILayer/web/src/app/(app)/settings/page.tsx
  src/UILayer/web/src/app/login/page.tsx
  src/UILayer/web/src/components/Navigation/TopBar.tsx
  src/UILayer/web/src/components/Nexus/index.tsx
  src/UILayer/web/src/components/ParticleField.tsx
  src/UILayer/web/src/components/agency/AgentActionAuditTrail.tsx
  src/UILayer/web/src/components/ui/alert.tsx
  src/UILayer/web/src/components/ui/breadcrumb.tsx
  src/UILayer/web/src/components/ui/carousel.tsx
  src/UILayer/web/src/components/ui/chart.tsx
  src/UILayer/web/src/components/ui/collapsible.tsx
  src/UILayer/web/src/components/ui/form.tsx
  src/UILayer/web/src/components/ui/menubar.tsx
  src/UILayer/web/src/components/ui/pagination.tsx
  src/UILayer/web/src/components/ui/progress.tsx
  src/UILayer/web/src/components/ui/resizable.tsx
  src/UILayer/web/src/components/ui/sidebar.tsx
  src/UILayer/web/src/components/ui/toggle-group.tsx
  src/UILayer/web/src/contexts/AuthContext.tsx
  src/UILayer/web/src/hooks/use-toast.ts
  src/UILayer/web/src/hooks/useSignalR.ts
  src/UILayer/web/src/stores/useAgentStore.ts
  src/UILayer/web/src/stores/useNotificationStore.ts
  src/UILayer/web/src/stores/usePreferencesStore.ts
Due: unittests, BusinessApplications

Orchestrator: Phase 15 complete — 95/109 items done
  .claude/state/orchestrator.json
Due: none

Phase 16: Remaining widgets, role-based UI, 98 frontend tests
  src/UILayer/web/__mocks__/fileMock.js
  src/UILayer/web/jest.config.js
  src/UILayer/web/jest.setup.js
  src/UILayer/web/src/__tests__/api-integration/README.md
  src/UILayer/web/src/__tests__/api-integration/agents.test.ts
  src/UILayer/web/src/__tests__/api-integration/test-utils.ts
  src/UILayer/web/src/app/(app)/compliance/page.tsx
  src/UILayer/web/src/app/(app)/context-engineering/page.tsx
  src/UILayer/web/src/app/(app)/convener/page.tsx
  src/UILayer/web/src/app/(app)/marketplace/page.tsx
  src/UILayer/web/src/app/(app)/org-mesh/page.tsx
  src/UILayer/web/src/components/ErrorBoundary/ErrorBoundary.test.tsx
  src/UILayer/web/src/components/Navigation/ConnectionIndicator.test.tsx
  src/UILayer/web/src/components/Navigation/Sidebar.tsx
  src/UILayer/web/src/components/Navigation/navItems.ts
  src/UILayer/web/src/components/Skeleton/Skeleton.test.tsx
  src/UILayer/web/src/components/auth/RoleGuard.tsx
  src/UILayer/web/src/components/ui/toggle-switch.test.tsx
  src/UILayer/web/src/components/widgets/ContextEngineering/ContextEngineeringDashboard.tsx
  src/UILayer/web/src/components/widgets/ContextEngineering/TokenUsageChart.tsx
  src/UILayer/web/src/components/widgets/ContextEngineering/index.ts
  src/UILayer/web/src/components/widgets/Convener/ConvenerDashboard.tsx
  src/UILayer/web/src/components/widgets/Convener/SessionTimeline.tsx
  src/UILayer/web/src/components/widgets/Convener/index.ts
  src/UILayer/web/src/components/widgets/Marketplace/AgentCard.tsx
  src/UILayer/web/src/components/widgets/Marketplace/MarketplaceDashboard.tsx
  src/UILayer/web/src/components/widgets/Marketplace/index.ts
  src/UILayer/web/src/components/widgets/OrgMesh/MeshTopology.tsx
  src/UILayer/web/src/components/widgets/OrgMesh/OrgMeshDashboard.tsx
  src/UILayer/web/src/components/widgets/OrgMesh/index.ts
  src/UILayer/web/src/contexts/AuthContext.test.tsx
  src/UILayer/web/src/hooks/use-toast.test.ts
  src/UILayer/web/src/lib/api/client.test.ts
  src/UILayer/web/src/lib/code-splitting/registry/lazyWidgets.ts
  src/UILayer/web/src/stores/useAgentStore.test.ts
  src/UILayer/web/src/stores/useNotificationStore.test.ts
  src/UILayer/web/src/stores/usePreferencesStore.test.ts
Due: unittests

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  FoundationLayer: any of: src/FoundationLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  ReasoningLayer: any of: src/ReasoningLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  MetacognitiveLayer: any of: src/MetacognitiveLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  AgencyLayer: any of: src/AgencyLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  BusinessApplications: any of: src/BusinessApplications/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
