Repository phoenixvc/cognitive-mesh: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, FoundationLayer, ReasoningLayer, MetacognitiveLayer, AgencyLayer, BusinessApplications

Update fleet orchestration doc with research findings
  docs/orchestration-evaluation/03-external-engines/coding-agent-orchestration/fleet-orchestration.md
Due: none

Update agent runtime docs with research-backed scores
  docs/orchestration-evaluation/03-external-engines/README.md
  docs/orchestration-evaluation/03-external-engines/agent-runtimes/autogen.md
  docs/orchestration-evaluation/03-external-engines/agent-runtimes/openai-agents-sdk.md
Due: none

Update workflow engine docs with research-backed data
  docs/orchestration-evaluation/03-external-engines/workflow-engines/airflow.md
  docs/orchestration-evaluation/03-external-engines/workflow-engines/inngest.md
  docs/orchestration-evaluation/03-external-engines/workflow-engines/n8n.md
  docs/orchestration-evaluation/03-external-engines/workflow-engines/temporal.md
Due: none

Add managed agent platforms, protocols, and custom-vs-established analysis
  docs/orchestration-evaluation/03-external-engines/README.md
  docs/orchestration-evaluation/03-external-engines/agent-platforms/README.md
  docs/orchestration-evaluation/03-external-engines/agent-platforms/agent-protocols.md
  docs/orchestration-evaluation/03-external-engines/agent-platforms/aws-bedrock-agents.md
  docs/orchestration-evaluation/03-external-engines/agent-platforms/azure-ai-foundry.md
  docs/orchestration-evaluation/03-external-engines/agent-platforms/google-vertex-agent-builder.md
  docs/orchestration-evaluation/03-external-engines/agent-platforms/letta.md
  docs/orchestration-evaluation/09-custom-vs-established/custom-vs-established.md
  docs/orchestration-evaluation/README.md
Due: none

Enrich custom-vs-established with research-backed market data
  docs/orchestration-evaluation/09-custom-vs-established/custom-vs-established.md
Due: none

Update agent platform docs with research-backed specifics
  docs/orchestration-evaluation/03-external-engines/agent-platforms/README.md
  docs/orchestration-evaluation/03-external-engines/agent-platforms/agent-protocols.md
  docs/orchestration-evaluation/03-external-engines/agent-platforms/aws-bedrock-agents.md
  docs/orchestration-evaluation/03-external-engines/agent-platforms/azure-ai-foundry.md
Due: none

Add agent prompt patterns research: actual prompts and system instructions across 9 platforms
  docs/orchestration-evaluation/10-agent-prompt-patterns/README.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/agent-prompts-and-instructions.md
  docs/orchestration-evaluation/README.md
Due: none

Enrich agent prompt patterns with exact source code references
  docs/orchestration-evaluation/10-agent-prompt-patterns/agent-prompts-and-instructions.md
Due: none

Add research agent output: agent framework prompts raw research
  docs/research/agent-framework-prompts.md
Due: none

Enrich agent prompt patterns with GPT version evolution, Codex, Deep Research
  docs/orchestration-evaluation/10-agent-prompt-patterns/agent-prompts-and-instructions.md
Due: none

Add research agent output: platform prompts raw research (Anthropic/Google/AWS/MS)
  docs/research/agent-platform-prompts-and-instructions.md
Due: none

Enrich with MagenticOne orchestrator, full Letta prompt, CrewAI exact text
  docs/orchestration-evaluation/10-agent-prompt-patterns/agent-prompts-and-instructions.md
Due: none

Final enrichment: ADK identity/transfer source, Claude tool template, research data
  docs/orchestration-evaluation/10-agent-prompt-patterns/agent-prompts-and-instructions.md
  docs/research/agent-platform-prompts-and-instructions.md
Due: none

Address PR review: fix docs accuracy, integration playbooks, and SwarmConfig
  docs/orchestration-evaluation/01-methodology/maturity-signals.md
  docs/orchestration-evaluation/01-methodology/scoring-framework.md
  docs/orchestration-evaluation/02-internal-repos/agentkit-forge.md
  docs/orchestration-evaluation/02-internal-repos/cognitive-mesh.md
  docs/orchestration-evaluation/02-internal-repos/house-of-veritas.md
  docs/orchestration-evaluation/03-external-engines/README.md
  docs/orchestration-evaluation/03-external-engines/agent-runtimes/autogen.md
  docs/orchestration-evaluation/03-external-engines/agent-runtimes/crewai.md
  docs/orchestration-evaluation/03-external-engines/agent-runtimes/haystack-pipelines.md
  docs/orchestration-evaluation/03-external-engines/agent-runtimes/langgraph.md
  docs/orchestration-evaluation/03-external-engines/agent-runtimes/openai-agents-sdk.md
  docs/orchestration-evaluation/03-external-engines/agent-runtimes/semantic-kernel.md
  docs/orchestration-evaluation/03-external-engines/coding-agent-orchestration/fleet-orchestration.md
  docs/orchestration-evaluation/03-external-engines/workflow-engines/airflow.md
  docs/orchestration-evaluation/03-external-engines/workflow-engines/argo-workflows.md
  docs/orchestration-evaluation/03-external-engines/workflow-engines/dagster.md
  docs/orchestration-evaluation/03-external-engines/workflow-engines/inngest.md
  docs/orchestration-evaluation/03-external-engines/workflow-engines/n8n.md
  docs/orchestration-evaluation/03-external-engines/workflow-engines/prefect.md
  docs/orchestration-evaluation/04-use-case-rankings/event-driven-serverless.md
  docs/orchestration-evaluation/04-use-case-rankings/long-running-durable.md
  docs/orchestration-evaluation/05-config-defaults-matrix/defaults-comparison.md
  docs/orchestration-evaluation/06-integration-playbooks/inngest-integration.md
  docs/orchestration-evaluation/06-integration-playbooks/langgraph-integration.md
  docs/orchestration-evaluation/06-integration-playbooks/temporal-integration.md
  docs/orchestration-evaluation/07-deduplication-map/consolidation-analysis.md
  docs/orchestration-evaluation/08-gaps-and-future/benchmark-harness-spec.md
  docs/orchestration-evaluation/08-gaps-and-future/operational-runbooks.md
  docs/orchestration-evaluation/README.md
  docs/orchestration-evaluation/appendices/decision-tree.md
  docs/orchestration-evaluation/appendices/evidence-index.md
  docs/orchestration-evaluation/appendices/glossary.md
  src/AgencyLayer/MultiAgentOrchestration/Engines/MultiAgentOrchestrationEngine.cs
  src/AgencyLayer/MultiAgentOrchestration/Ports/IMultiAgentOrchestrationPort.cs
  tests/Integration/EthicalComplianceFrameworkIntegrationTests.cs
Due: unittests, AgencyLayer

Apply self-review fixes: serialization warning, ranking sort, predicate efficiency, default test
  docs/orchestration-evaluation/04-use-case-rankings/long-running-durable.md
  src/AgencyLayer/MultiAgentOrchestration/Engines/MultiAgentOrchestrationEngine.cs
  src/AgencyLayer/MultiAgentOrchestration/Ports/IMultiAgentOrchestrationPort.cs
  tests/Integration/EthicalComplianceFrameworkIntegrationTests.cs
Due: unittests, AgencyLayer

Add agentic pattern coverage and antipattern analysis docs
  docs/analysis/agentic-antipattern-analysis.md
  docs/analysis/agentic-pattern-coverage.md
Due: none

Split agent prompt patterns into 10 per-platform files for readability
  docs/orchestration-evaluation/10-agent-prompt-patterns/01-openai.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/02-anthropic.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/03-aws-bedrock.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/04-google-adk.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/05-microsoft.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/06-langchain.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/07-crewai.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/08-huggingface-smolagents.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/09-letta.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/10-cross-platform-analysis.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/README.md
Due: none

Update pattern coverage with full 147-pattern catalog
  docs/analysis/agentic-antipattern-analysis.md
  docs/analysis/agentic-pattern-coverage.md
Due: none

Add priority-based pattern tracking files
  docs/analysis/agentic-pattern-coverage.md
  docs/analysis/agentic-patterns-high-priority.md
  docs/analysis/agentic-patterns-index.md
  docs/analysis/agentic-patterns-low-priority.md
  docs/analysis/agentic-patterns-medium-priority.md
Due: none

Add port interfaces for 89 missing agentic patterns
  src/AgencyLayer/Agents/Ports/ICodeReviewPort.cs
  src/AgencyLayer/Agents/Ports/ICodebaseQAPort.cs
  src/AgencyLayer/Orchestration/Ports/IActionCachingPort.cs
  src/AgencyLayer/Orchestration/Ports/IBudgetRoutingPort.cs
  src/AgencyLayer/Orchestration/Ports/ICanaryRolloutPort.cs
  src/AgencyLayer/Orchestration/Ports/IDualLLMPort.cs
  src/AgencyLayer/Orchestration/Ports/IGraphOfThoughtsPort.cs
  src/AgencyLayer/Orchestration/Ports/IModelFallbackPort.cs
  src/AgencyLayer/Orchestration/Ports/ITreeSearchPort.cs
  src/AgencyLayer/Orchestration/Ports/IWorkflowEvalsPort.cs
  src/AgencyLayer/Tools/Ports/IMultiPlatformCommunicationPort.cs
  src/AgencyLayer/Tools/Ports/ISubagentValidationPort.cs
  src/FoundationLayer/Security/Ports/ICredentialSyncPort.cs
  src/FoundationLayer/Security/Ports/IEgressControlPort.cs
  src/FoundationLayer/Security/Ports/IPIITokenizationPort.cs
  src/FoundationLayer/Security/Ports/ISandboxAuthorizationPort.cs
  src/FoundationLayer/Security/Ports/ISecurityScanningPort.cs
  src/FoundationLayer/Security/Ports/IThreatModelPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/IIncidentEvalPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/ISkillRefinementPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/ISpecTestFeedbackPort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/IContextCompactionPort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/IMemorySynthesisPort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/ISemanticFilteringPort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/IWorkingMemoryPort.cs
Due: unittests, FoundationLayer, MetacognitiveLayer, AgencyLayer

Remove original monolith after verifying split files match exactly
  docs/orchestration-evaluation/10-agent-prompt-patterns/README.md
  docs/orchestration-evaluation/10-agent-prompt-patterns/agent-prompts-and-instructions.md
Due: none

Add 15 more port interfaces for agentic patterns
  src/AgencyLayer/MultiAgentOrchestration/Ports/IConversationPatternPort.cs
  src/AgencyLayer/Orchestration/Ports/IAutonomousLoopPort.cs
  src/AgencyLayer/Orchestration/Ports/ICoherenceSessionPort.cs
  src/AgencyLayer/Orchestration/Ports/IDualAgentPort.cs
  src/AgencyLayer/Orchestration/Ports/IPlannerWorkerPort.cs
  src/AgencyLayer/Orchestration/Ports/IReliabilityMapPort.cs
  src/AgencyLayer/Orchestration/Ports/ISchemaValidationRetryPort.cs
  src/AgencyLayer/Tools/Ports/IDynamicToolGenerationPort.cs
  src/AgencyLayer/Tools/Ports/IMCPToolPort.cs
  src/AgencyLayer/Tools/Ports/IToolRetryPort.cs
  src/MetacognitiveLayer/PerformanceMonitoring/Ports/IStreamingProgressPort.cs
  src/MetacognitiveLayer/Telemetry/Ports/IObservabilityPort.cs
  src/ReasoningLayer/StructuredReasoning/Ports/IChainOfThoughtPort.cs
  src/ReasoningLayer/StructuredReasoning/Ports/IReActPort.cs
  src/ReasoningLayer/StructuredReasoning/Ports/IReflexionPort.cs
Due: unittests, ReasoningLayer, MetacognitiveLayer, AgencyLayer

Add 6 more port interfaces for agentic patterns
  src/AgencyLayer/Agents/Ports/IAgentPoolPort.cs
  src/AgencyLayer/Agents/Ports/ISpecializedAgentPort.cs
  src/AgencyLayer/Orchestration/Ports/IHumanInTheLoopPort.cs
  src/FoundationLayer/Persistence/Ports/IVectorStorePort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/IEpisodicMemoryPort.cs
  src/ReasoningLayer/StructuredReasoning/Ports/IRAGPort.cs
Due: unittests, FoundationLayer, ReasoningLayer, MetacognitiveLayer, AgencyLayer

Add 6 more port interfaces for agentic patterns
  src/AgencyLayer/Agents/Ports/IToolSelectionPort.cs
  src/AgencyLayer/Orchestration/Ports/IAgentCommunicationPort.cs
  src/AgencyLayer/Orchestration/Ports/IAgentStatePort.cs
  src/AgencyLayer/Tools/Ports/ISemanticRoutingPort.cs
  src/BusinessApplications/Compliance/Ports/IAuditTrailPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/IFeedbackLoopPort.cs
Due: unittests, MetacognitiveLayer, AgencyLayer, BusinessApplications

Add 34 more port interfaces for agentic patterns
  src/AgencyLayer/Agents/Ports/IAgentConfigPort.cs
  src/AgencyLayer/Agents/Ports/IAsyncCodingPort.cs
  src/AgencyLayer/Agents/Ports/ICodebaseOptimizationPort.cs
  src/AgencyLayer/Agents/Ports/ICriticReviewPort.cs
  src/AgencyLayer/Agents/Ports/ISpecDrivenAgentPort.cs
  src/AgencyLayer/Orchestration/Ports/IBestOfNPort.cs
  src/AgencyLayer/Orchestration/Ports/IComplexityEscalationPort.cs
  src/AgencyLayer/Orchestration/Ports/IDistributedExecutionPort.cs
  src/AgencyLayer/Orchestration/Ports/IFeatureContractPort.cs
  src/AgencyLayer/Orchestration/Ports/IHandoffPort.cs
  src/AgencyLayer/Orchestration/Ports/IHybridWorkflowPort.cs
  src/AgencyLayer/Orchestration/Ports/IMapReducePort.cs
  src/AgencyLayer/Orchestration/Ports/IMultiModelEditPort.cs
  src/AgencyLayer/Orchestration/Ports/ISandboxFanOutPort.cs
  src/AgencyLayer/Orchestration/Ports/ISwarmMigrationPort.cs
  src/AgencyLayer/Tools/Ports/IDualUseToolPort.cs
  src/AgencyLayer/Tools/Ports/IMultimodalPort.cs
  src/AgencyLayer/Tools/Ports/IPatchSteeringPort.cs
  src/AgencyLayer/Tools/Ports/IToolCreationPort.cs
  src/AgencyLayer/Tools/Ports/IToolDiscoveryPort.cs
  src/AgencyLayer/Tools/Ports/IToolSteeringPort.cs
  src/AgencyLayer/Tools/Ports/IWebSearchAgentPort.cs
  src/AgencyLayer/Tools/Ports/IWebhookTriggerPort.cs
  src/BusinessApplications/CustomerIntelligence/Ports/ILatentDemandPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/ICIFeedbackPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/ICompoundingEngineeringPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/IDogfoodingPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/ISkillEvolutionPort.cs
  src/MetacognitiveLayer/PerformanceMonitoring/Ports/IReasoningMonitorPort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/IAgentIdentityPort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/ICodeContextPort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/IFileContextPort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/IProgressiveDisclosurePort.cs
  src/ReasoningLayer/StructuredReasoning/Ports/ISelfDiscoverPort.cs
Due: unittests, ReasoningLayer, MetacognitiveLayer, AgencyLayer, BusinessApplications

Address PR review: serialization safety, validation, null guard, test cleanup
  docs/research/agent-framework-prompts.md
  docs/research/agent-platform-prompts-and-instructions.md
  src/AgencyLayer/MultiAgentOrchestration/Engines/MultiAgentOrchestrationEngine.cs
  src/AgencyLayer/MultiAgentOrchestration/Ports/IMultiAgentOrchestrationPort.cs
  tests/Integration/EthicalComplianceFrameworkIntegrationTests.cs
Due: unittests, AgencyLayer

Add complete coverage for all agentic pattern priorities
  src/AgencyLayer/Agents/Ports/ICodeSkillModelPort.cs
  src/AgencyLayer/LowPriority/Ports/IAbstractedCodeReviewPort.cs
  src/AgencyLayer/LowPriority/Ports/IAgentPersonalityPort.cs
  src/AgencyLayer/LowPriority/Ports/IAgentRFTPort.cs
  src/AgencyLayer/LowPriority/Ports/IAntiRewardHackingPort.cs
  src/AgencyLayer/LowPriority/Ports/IBashExecutionPort.cs
  src/AgencyLayer/LowPriority/Ports/IBurnTheBoatsPort.cs
  src/AgencyLayer/LowPriority/Ports/ICLIOrchestrationPort.cs
  src/AgencyLayer/LowPriority/Ports/ICLISkillPort.cs
  src/AgencyLayer/LowPriority/Ports/ICodeOverAPIPort.cs
  src/AgencyLayer/LowPriority/Ports/ICodeThenExecutePort.cs
  src/AgencyLayer/LowPriority/Ports/IContextAnxietyPort.cs
  src/AgencyLayer/LowPriority/Ports/ICustomSandboxPort.cs
  src/AgencyLayer/LowPriority/Ports/IDevToolingResetPort.cs
  src/AgencyLayer/LowPriority/Ports/IFilesystemStatePort.cs
  src/AgencyLayer/LowPriority/Ports/IFrontierDevelopmentPort.cs
  src/AgencyLayer/LowPriority/Ports/IInferenceHealedRewardPort.cs
  src/AgencyLayer/LowPriority/Ports/IIsolatedVMPort.cs
  src/AgencyLayer/LowPriority/Ports/ILaneQueueingPort.cs
  src/AgencyLayer/LowPriority/Ports/IMemRLPort.cs
  src/AgencyLayer/LowPriority/Ports/IMilestoneEscrowPort.cs
  src/AgencyLayer/LowPriority/Ports/INonCustodialSpendingPort.cs
  src/AgencyLayer/LowPriority/Ports/IPerceptionArchitecturePort.cs
  src/AgencyLayer/LowPriority/Ports/IPosteriorSamplingPort.cs
  src/AgencyLayer/LowPriority/Ports/IPromptCachingPort.cs
  src/AgencyLayer/LowPriority/Ports/IRLAIFPort.cs
  src/AgencyLayer/LowPriority/Ports/IRLSampleSelectionPort.cs
  src/AgencyLayer/LowPriority/Ports/IRewardShapingPort.cs
  src/AgencyLayer/LowPriority/Ports/IScaffoldingPort.cs
  src/AgencyLayer/LowPriority/Ports/IShellContextPort.cs
  src/AgencyLayer/LowPriority/Ports/ISoulboundIdentityPort.cs
  src/AgencyLayer/LowPriority/Ports/ISubjectHygienePort.cs
  src/AgencyLayer/LowPriority/Ports/IToolSelectionGuidePort.cs
  src/AgencyLayer/LowPriority/Ports/ITriggerVocabularyPort.cs
  src/AgencyLayer/LowPriority/Ports/IVMIsolationPort.cs
  src/AgencyLayer/LowPriority/Ports/IVMOperatorPort.cs
  src/AgencyLayer/LowPriority/Ports/IWorkspaceOrchestrationPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/IResearchShippingPort.cs
Due: unittests, MetacognitiveLayer, AgencyLayer

Fix review issues: consolidate duplicate VM interfaces
  src/AgencyLayer/LowPriority/Ports/IIsolatedVMPort.cs
  src/AgencyLayer/LowPriority/Ports/IVMIsolationPort.cs
Due: unittests, AgencyLayer

Fix CS1591/CS1570: add missing XML docs
  src/MetacognitiveLayer/ContinuousLearning/Ports/ISkillRefinementPort.cs
  src/MetacognitiveLayer/Telemetry/Ports/IObservabilityPort.cs
  src/ReasoningLayer/StructuredReasoning/Ports/IRAGPort.cs
Due: unittests, ReasoningLayer, MetacognitiveLayer

Fix CS1591/CS1570/CS0101 build errors
  src/AgencyLayer/Orchestration/Ports/IActionCachingPort.cs
  src/AgencyLayer/Orchestration/Ports/IDualAgentPort.cs
  src/AgencyLayer/Orchestration/Ports/IPlannerWorkerPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/ICIFeedbackPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/IDogfoodingPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/IFeedbackLoopPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/IResearchShippingPort.cs
  src/MetacognitiveLayer/ContinuousLearning/Ports/ISpecTestFeedbackPort.cs
  src/MetacognitiveLayer/PerformanceMonitoring/Ports/IReasoningMonitorPort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/IEpisodicMemoryPort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/IMemorySynthesisPort.cs
  src/MetacognitiveLayer/Protocols/Common/Memory/Ports/IWorkingMemoryPort.cs
Due: unittests, MetacognitiveLayer, AgencyLayer

Fix CS1591: add XML docs to ReasoningSessionStatus enum
  src/MetacognitiveLayer/PerformanceMonitoring/Ports/IReasoningMonitorPort.cs
Due: unittests, MetacognitiveLayer

Fix CS1570: escape Q&A as QA in ICodebaseQAPort XML docs
  src/AgencyLayer/Agents/Ports/ICodebaseQAPort.cs
Due: unittests, AgencyLayer

Fix CS1591: add XML docs to AgencyLayer enums and classes
  src/AgencyLayer/Agents/Ports/IAsyncCodingPort.cs
  src/AgencyLayer/Agents/Ports/ICodeReviewPort.cs
  src/AgencyLayer/Agents/Ports/ICodebaseOptimizationPort.cs
  src/AgencyLayer/Agents/Ports/ICriticReviewPort.cs
  src/AgencyLayer/Agents/Ports/ISpecDrivenAgentPort.cs
  src/AgencyLayer/Agents/Ports/IToolSelectionPort.cs
  src/AgencyLayer/Tools/Ports/IMultiPlatformCommunicationPort.cs
  src/AgencyLayer/Tools/Ports/ISemanticRoutingPort.cs
  src/AgencyLayer/Tools/Ports/ISubagentValidationPort.cs
  src/AgencyLayer/Tools/Ports/IToolRetryPort.cs
  src/AgencyLayer/Tools/Ports/IWebSearchAgentPort.cs
Due: unittests, AgencyLayer

Fix CS1591: add XML docs to SpecTestResult.AgentId and SpecId
  src/AgencyLayer/Agents/Ports/ISpecDrivenAgentPort.cs
Due: unittests, AgencyLayer

Add GitHub issues backlog for 123 agentic pattern implementations
  docs/backlog/agentic-patterns-issues.csv
  docs/backlog/agentic-patterns-issues.md
  docs/backlog/create-issues.sh
Due: none

Fix security issues: secret exposure and TOCTOU vulnerability
  src/AgencyLayer/LowPriority/Ports/ICodeThenExecutePort.cs
  src/AgencyLayer/Tools/Ports/IWebhookTriggerPort.cs
Due: unittests, AgencyLayer

Add initial PRDs for various agent teams in the Cognitive Mesh ecosystem
  docs/prds/01-foundational-infrastructure/ai-gateway-agents.md
  docs/prds/01-foundational-infrastructure/arch-context-mcp.md
  docs/prds/01-foundational-infrastructure/azure-infra-agents.md
  docs/prds/03-agentic-cognitive-systems/agent-team-ecosystem.md
  docs/prds/03-agentic-cognitive-systems/agentkit-bootstrap-playbook.md
  docs/prds/03-agentic-cognitive-systems/cross-repo-agent-integration.md
  docs/prds/03-agentic-cognitive-systems/domain-agent-coverage.md
  docs/prds/03-agentic-cognitive-systems/project-planning-pipeline.md
  docs/prds/03-agentic-cognitive-systems/team-apidesigner.md
  docs/prds/03-agentic-cognitive-systems/team-brandforge.md
  docs/prds/03-agentic-cognitive-systems/team-contractauditor.md
  docs/prds/03-agentic-cognitive-systems/team-dataarchitect.md
  docs/prds/03-agentic-cognitive-systems/team-debugsquad.md
  docs/prds/03-agentic-cognitive-systems/team-designpanel.md
  docs/prds/03-agentic-cognitive-systems/team-docscrew.md
  docs/prds/03-agentic-cognitive-systems/team-handoverbridge.md
  docs/prds/03-agentic-cognitive-systems/team-releasepilot.md
  docs/prds/03-agentic-cognitive-systems/team-researchdesk.md
  docs/prds/03-agentic-cognitive-systems/team-retrospective.md
  docs/prds/03-agentic-cognitive-systems/team-roadmapcrew.md
  docs/prds/03-agentic-cognitive-systems/team-securityaudit.md
  docs/prds/03-agentic-cognitive-systems/team-stackselect.md
  docs/prds/03-agentic-cognitive-systems/team-stakeholdersim.md
  docs/prds/03-agentic-cognitive-systems/team-startupsim.md
  docs/prds/03-agentic-cognitive-systems/team-testforge.md
  docs/prds/03-agentic-cognitive-systems/team-wealthmind.md
Due: none

Add documentation for PhoenixVC and JustAGhosT ecosystem repositories and open issues
  docs/ecosystem-repos-and-issues.md
Due: none

Path conditions:
  unittests: any of: src/, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  FoundationLayer: any of: src/FoundationLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  ReasoningLayer: any of: src/ReasoningLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  MetacognitiveLayer: any of: src/MetacognitiveLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  AgencyLayer: any of: src/AgencyLayer/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
  BusinessApplications: any of: src/BusinessApplications/**, but not: tests/**, docs/**, infra/**, k8s/**, tools/**, **/Migrations/**, **/obj/**, **/bin/**
